@font-face {
  font-family: 'S-CoreDream';
  src: url('/fonts/SCDream3.otf') format('otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'S-CoreDream';
  margin: 0;
  padding: 0;
}

