.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .subHeaderWrapper {
    width: 100%;
    background-color: #e0e0e0;
    position: relative;
  }
  
  .contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    /* gap: 30px; */
    padding: 0;
    flex: 1;
    align-items: flex-start;
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .sidebarPlaceholder {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    flex-shrink: 0;
  }
  
  .mainContent {
    flex: 1;
    font-family: 'S-CoreDream';
    padding: 30px 30px 40px 40px;
    display: flex;
    flex-direction: column;
  }
  
  .pageTitle {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin: 0 0 30px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #d32f2f;
    text-align: center;
  }
  
  .content {
    padding-left: 100px;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
  }
  
  .content p {
    margin: 0 0 20px 0;
  }
  
  @media (max-width: 768px) {
    .subHeaderWrapper {
      background-color: #e0e0e0;
    }
  
    .sidebarPlaceholder {
      display: none;
    }
  
    .contentWrapper {
      flex-direction: column;
      padding: 0;
    }
  
    .mainContent {
      padding: 20px;
    }
  
    .pageTitle {
      font-size: 24px;
    }
  }
  